body {
    margin: 0;
    padding: 0;
}

.section {
    min-height: 100px;
    margin: 25px;
    padding: 25px;
    border: 2px solid #aaa;
}
.child {
    min-height: 50px;
    margin: 25px;
    padding: 25px;
    border: 2px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings {
    position: absolute;
    background: #555;
    padding: 10px;
}
.d-none {
    display: none;
}